@import url('https://fonts.googleapis.com/css2?family=Nuosu+SIL&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
}

:root {
    background-color: #faf8ef;
    color: #776e65;
}

/* General styles */
button {
    cursor: pointer;
}

.shadow {
    box-shadow: 5px 10px 25px rgba(0, 0, 0, .5);
}

.glow {
    border: solid #776e65;
    border-radius: 3px;
    padding: 6px;
    box-shadow: 5px 10px 25px rgba(119, 110, 101, 1);
}

/* Layout */
.container {
    display: grid;
    grid-template-rows: 80px 1fr 40px;
    height: 100vh;
    max-width: 500px;
    margin: 0 auto;
}

/* Nav Bar */
.nav-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.title {
    font-size: 48px;
}

.restart {
    justify-self: right;
    box-shadow: -6px 6px 0 #bbada0;
    border-radius: 3px;
    border: none;
    background-color: #8f7a66;
    width: 150px;
    height: 40px;
    font-size: 24px;
    color: white;

    transition: all .15s linear 0s;
}

.restart:hover {
    box-shadow: -3px 3px 0;
}

/* Main Content */
.main-content {
    display: grid;
    grid-template-rows: 100px 1fr;
}

.players {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    font-size: 20px;
}

.board {
    background-color: #bbada0;
    display: grid;
    height: 500px;
    width: 500px;
    margin: 0 auto;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    border: 15px solid #bbada0;
    border-radius: 6px;
}

.box {
    background-color: rgba(238, 228, 218, .35);
    border-radius: 3px;
    display: grid;
    color: white;
    align-items: center;
    text-align: center;
    font-size: 108px;
}

/* Footer */
.footer {
    justify-self: center;
    align-self: center;
    font-size: 16px;
    font-weight: 300;
}